
.col-6
  %h2
    Insta
    .fa.fa-camera-retro
  .fa.fa-github
  = link_to "https://github.com/pavelz", "https://github.com/pavelz"
  .fa.fa-book
  = link_to "https://blog.arslogi.ca/", "https://blog.arslogi.ca/"

.col-10
  .text-center
    = react_component("Root", {message: "front"},  authenticity_token: form_authenticity_token)
