
.col-6
  %h2
    Insta
    .fa.fa-camera-retro

  = link_to "https://github.com/pavelz"

.col-10
  .text-center
    = react_component("Root", {message: "front"},  authenticity_token: form_authenticity_token)
